{% extends "base.html"%}
{% block content %}
{% load staticfiles %}

<div class="posts-advertisings-container">
    <div class="row">
        <div class="col-md-3">
            <div class="advertisings-container">hello</div>
        </div>
        <div class="col-md-9">
            {%for post in posts%}

            <div class="posts-container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#"><h2 class="posts-post-theme">{{post.theme}}</h2></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#"><h1 class="posts-post-title">{{post.title}}</h1></a>
                            </div>
                        </div>
                       <div class="posts-post-author">
                           <div class="row">
                               <div class="col-md-12">
                                   <div class="posts-post-author-views">
                                       <div class="row">
                                           <div class="col-md-6">
                                               <span class="posts-post-author-label">Автор:</span>
                                               <a href="#"><span class="posts-post-author-text">{{post.author}}</span></a>
                                           </div>
                                           <div class="col-md-6">
                                               <div class="posts-post-views">
                                                   <span class="posts-post-views-text">{{post.views}}</span>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-md-12">
                               <p class="posts-post-description">{{post.body}}</p>
                           </div>
                       </div>
                    </div>
                    <div class="col-md-5">
                        <div class="posts-post-image">
                            <img src="{% static 'blog/blog/blog_title_images/img.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}