body {
    background: #2b5b80 !important;
    font-family: Fantasy!important;
}
.header-svg {
    border: 1px solid #3776ab;
    border-radius: 9px  !important;
    margin: 5px 0px;
}
#header_main_svg {
    height: 100%;
    width: 100%;
}
.main-navigation {
    background: linear-gradient(#3776ab 30%,#2d618c 95%);
    border-radius: 9px  !important;
    border: 1px solid #3765ab !important;
}
.navbar-default .navbar-nav > li > a {
    font-size: 16px; color: #fff !important;
}
/*
   blog_index.html style_block
*/
.posts-advertisings-container {

}
.advertisings-container {

}
.posts-container {
    border: 1px solid #3765ab !important;
    margin: 10px;
    padding: 5px 10px;
    background-color: #1c3b56;
    border-radius: 10px;
    color:  #FFFDD0 ;
    font-family: Serif, monospace;
}

.posts-post-theme {
    margin-top: 10px;
    color: #FFBF00;
    font-size: large;
}
.posts-post-title {
    margin-top: 2px;
    color:  #FFFDD0!important;
    font-size: large;
}
.posts-post-theme, .posts-post-title, .posts-post-author-views {
    border-bottom: 1px solid lightgray;
    padding-bottom: 2px;
}
.posts-post-description {
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.posts-post-author-label {
    font-family: Apple Chancery, cursive;
    color:  #FFFDD0!important;
}
.posts-post-author-text {
    color:  #FFFDD0!important;
}
.posts-post-views-text{
    display: block;
    text-align: right;
    margin-right: 10px;
}
.posts-post-image {
    margin: 2px;

}
.posts-post-image > img {
    width: -moz-available;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
