<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/bootstrap/css/bootstrap.css' %}" />
</head>
<body>
<div class="container">
    <header>
        <div class="header-svg">
            <svg id="header_main_svg"><!--
                <g fill="black" font-family="Verdana, serif" font-size="28" font-weight="900">
                    <text x="100" y="60"  style="text-anchor: start;"> C++ </text>
                </g>
                <g  fill="yellow" font-family="Verdana, serif" font-size="26" font-weight="900">
                    <text x="150" y="120"  style="text-anchor: start;"> Python </text>
                </g>
                <g  fill="darkblue" font-family="Verdana, serif" font-size="20" font-weight="900">
                    <text x="250" y="100"  style="text-anchor: start;"> HTML5 </text>
                </g>
                <g  fill="red" font-family="Verdana, serif" font-size="20" font-weight="900">
                    <text x="450" y="50"  style="text-anchor: start;"> JavaScript </text>
                </g>
                <g  fill="red" font-family="Verdana, serif" font-size="20" font-weight="900">
                    <text x="650" y="70"  style="text-anchor: start;"> CSS </text>
                </g>-->
            </svg>
        </div>
    </header>
    <nav class="navbar navbar-default main-navigation" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Главная</a></li>
              <li><a href="{% url 'forum' %}">Форум</a></li>
              <li><a href="{% url 'blog' %}">Блог</a></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Python<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">Установка</a></li>
                      <li><a href="#">Уровень 1</a></li>
                      <li><a href="#">Уровень 2</a></li>
                      <li><a href="#">Уровень 3</a></li>
                      <li><a href="#">Алгоритмы</a></li>
                      <li><a href="#">Задачи</a></li>
                      <li class="divider"></li>
                    <li><a href="#">Что дальше?</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">C++<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">Установка</a></li>
                      <li><a href="#">Уровень 1</a></li>
                      <li><a href="#">Уровень 2</a></li>
                      <li><a href="#">Уровень 3</a></li>
                      <li><a href="#">Алгоритмы</a></li>
                      <li><a href="#">Задачи</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Что дальше?</a></li>
                  </ul>
              </li>
              <li><a href="#">Контакты</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Отправить</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <section>
        <div class="wrapper">
            {% block content %}
            {% endblock  %}
        </div>
    </section>
    <footer></footer>
</div>
<script src="{% static 'blog/jquery/jquery.js' %}"></script>
<script src="{% static 'blog/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/header_svg.js' %}"></script>
</body>
</html>
